
<div class="new-section bg-dark text-white">


  <div card-body>
    <h4 class="title">Contacta con nosotros</h4>
    <p class="paragraph"> Si quieres adoptar a un nuevo amigo o hacerte voluntario déjanos un mensaje y te contactaremos cuanto antes</p>
    <form #clienteForm="ngForm">

      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com" style="width: 200px;">
        </div>
      </div>

      <div class="form-group row">
        <label for="mensaje" class="col-form-label col-sm-2">Mensaje</label>
        <div class="col-sm-6">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width: 500px;"></textarea>
          </div>
      </div>

      <div class="form-group row button-container">
      <button class="btn" type="submit">Enviar</button>
      </div>

    </form>
    </div>

