<header class="header">
<div class="title-container">
<a class="navbar-brand" [routerLink]="['/']"><img class="logo" src="../../../assets/img/logo.png"></a>
<h1 class="title">Refugio de Animales</h1>
</div>


<nav class="navbar navbar-expand-lg navbar-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"  routerLinkActive="/">
        <a class="nav-link" routerLink='/'>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link active" routerLink="/animals" tabindex="-1" aria-disabled="false">Adopta</a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="authService.token"> <a class="nav-link active"routerLink="/volunteers" tabindex="-1" aria-disabled="false">Ver voluntarios</a>
      </li>

      <li *ngIf="!authService.token" class="nav-item" ><a [routerLink]="['/login']" class="nav-link active">Sign In</a></li>

      <li *ngIf="authService.token" class="dropright">
        <a class="btn btn-secondary dropdown-toggle border-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{authService.userEnt.username}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
           <button (click)="logout()" class="dropdown-item" type="submit">Sign Out</button>
        </div>
      </li>
    </ul>
  </div>
</nav>
</header>
