<div class="bg-dark text-white detail-card">
  <div class="card-header title">Detalles de  {{animal.name}}</div>
    <div class="card-body">

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <ul *ngIf="animal" class="list-group text-dark mb-3">
              <li class="list-group-item">Sexo: {{animal.sex.name}}</li>
              <li class="list-group-item">Especie: {{animal.specie.name}}</li>
              <li class="list-group-item">Fecha de nacimiento: {{animal.birthDate}}</li>
              <li class="list-group-item">Localización: {{animal.region.name}}</li>
              <li class="list-group-item">Color: {{animal.color}}</li>
              <li class="list-group-item">Peso: {{animal.weight}} kg</li>
              <li class="list-group-item">Descripción: {{animal.description}} </li>
            </ul>

            <div class="input-group">
              <div class="custom-file">
                <input (change)="seleccionarFoto($event)" type="file" class="custom-file-input" id="inputGroupFile04">
                <label class="custom-file-label" for="inputGroupFile04">Buscar Foto</label>
              </div>
              <div class="input-group-append">
                <button (click)="subirFoto()" class="btn btn-outline-secondary" type="button">Guardar</button>
              </div>
            </div>

          </div>

          <div class="col-sm">
            <img *ngIf="animal?.picture" src="http://localhost:8080/api/uploads/img/{{animal.picture}}"
            alt="{{animal.picture}}" class="img-thumbnail row">

          </div>

        </div>
      </div>


